@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: #050505;
  margin: 0;
  font-family: 'JetBrains Mono', 'Roboto Mono', monospace;
}
